<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>The movies game</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<fieldset>
	<legend>Search a word for the quiz:</legend>
		<form action="/search_word" method="POST">
			<input type="text" placeholder="Some word" name="word">
			<button type="submit">Search</button>
		</form>
	</fieldset>
	<center><img style = "margin: 0 auto 0 auto" src="movies.jpg"></center>

	
</body>
</html>